
body{
    background: rgb(0, 0, 0);
    font-family:Arial, Helvetica;
    font-size:12px;
    color:#fff;
}
table {
    margin-left: auto;
    margin-right: auto;
    border:1px solid rgb(0, 128, 34) ;
    table-layout: fixed;
    width: 70rem;
}

th{
    border:1px solid rgb(0, 128, 34);
    width: 10rem; 
    font-size: large;
}

td{
    border:1px solid rgb(0, 128, 34);
    width: 10rem;  
    height: 5rem;
    vertical-align: top;
    text-align: left;
}

h1{
    text-align: center;  
}

.flex-container {
    display: flex;
    justify-content: center;
}

#leftArrow{
  margin-right: 1em;
}

#rightArrow{
  margin-left: 1em;
}