
body{
    background: rgb(0, 0, 0);
    font-family:Arial, Helvetica;
    font-size:12px;
    color:#fff;
}
table {
    margin-left: auto;
    margin-right: auto;
    border:1px solid rgb(0, 128, 34) ;
    table-layout: fixed;
    width: 70rem;
    display: flex;
}

th{
    border:1px solid rgb(0, 128, 34);
    width: 10rem; 
    font-size: large;
}

td{
    border:1px solid rgb(0, 128, 34);
    width: 10rem;  
    height: 5rem;
    vertical-align: top;
    text-align: left;
}

h1{
    text-align: center;  
}

.flex-container {
    display: flex;
    justify-content: center;
}

#leftArrow, #rightArrow{
    -webkit-appearance: none;
    background: transparent; 
    border: 0;
    outline:0;
}

svg {
    padding: 5px;
}

.arrow {
    cursor: pointer;
    top: 50%;
}

.left {
    left: 42%;
}

.right {
    left: 58%;
}

.left:hover polyline,
    .left:focus polyline {
    stroke-width: 3;
}

.left:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

.right:hover polyline,
    .right:focus polyline {
    stroke-width: 3;
}

.right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

polyline {
    transition: all 250ms ease-in-out;
}

#eventButton{
    color:rgb(18, 17, 17);
}